numpy==1.24.3
matplotlib
trimesh==3.22.3
pyrender==0.1.45
pybind11==2.10.4
progressbar==2.5
pyglet==2.0.8
boto3
mpl_interactions
mpl_point_clicker
ipyevents
pandas
requests
pycuda==2024.1
tensorboard
tensorboardX
scikit-learn
onnx==1.16.1 
onnxruntime==1.17.1
ipympl
huggingface_hub
connected-components-3d
tensorboardX
pyqt6
scikit-image==0.24.0
open3d